
{% extends "driver/driverBase.html" %}

{% block driverContent %}
	<h1>Are you sure you want to buy: {{results['name']}}? </h1>


	<div>
	<img src="{{results['img_url']}}"> 
	</div>
	<p> {{results['description']}}</p>
	<p> ${{results['price']}}</p>
	<form action="/recipt" method="POST">
		<div>
			<button id='{{results['name']}}' type="submit"  name='buy' value="{{results['name']}}">Yes, Buy Now!</button>
		</div>
	<div>
	</form>
	<!--CAPTCHA, LATER USE
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSrBwCJZnsgsZIj9s2D6sdRBbRMzEeZfwYwzQ&usqp=CAU">
	<div>
	<form onsubmit="fakeCAP">
	<input type="test" id="string">
	<input type="submit" value="Submit">
	</div>
	</div>
	<span id="CAPError"> </span>
	</form>
	-->
{% endblock %}
<!--
<script>
	function fakeCAP(){
		var x, text;
		x = document.getElementbyId("string").value;

		if(x === "qGphJ"){
			alert("CAPTCHA passed")
			text = "CAPTCHA passed";

		}else{
			alert("Enter the correct string")
			text = "Enter the correct string";
		}

			


	}


</script>
