
{% extends "driver/driverBase.html" %}
{% block driverContent %}
{% set limits = [1,5, 10,50] %}
<div class = "header-banner">{{head}} </div>

<h1>Product Catalog</h1>


<div class="row">
	<p style="margin:0">Enter your search below. You can search from among {{numprod}} products</p>

</div>


<form action="/productsearch" method="POST">
<div class="dropdown">
  <button class="dropbtn">Select how many products to display</button>
  <div class="dropdown-content">
        <select id = "amount" name="amount">
        {%for limit in limits%}

        <option value= "{{limit}}">{{limit}}</option>
        {%endfor%}
        </select>
  </div>
</div>


	
<div class="dropdown">
  <button class="dropbtn">Select Genres</button>
  <div class="dropdown-content">
	<select id = "mylist" name="mylist">
	{%for genre in genres%}

	<option value= "{{genre}}">{{genre}}</option>
	{%endfor%}
	</select>
  </div>
</div>

	
<div class="dropdown">
  <button class="dropbtn">Order By?</button>
  <div class="dropdown-content">
	<select id = "orderby" name="orderby">


	<option value= "pricedown">Ascending on Price</option>
	<option value= "priceup">Descending on Price</option>
	<option value= "ratingdown">Ascedning on Rating</option>
	<option value= "ratingup">Descending on Rating</option>

	</select>
  </div>
</div>





	<input type="text" placeholder="Search for products" id="search" name="search" class="tftextinput" required>
	<button id="signupbutton" type="submit" class="tfbutton">Search</button>

	<p style="margin:0">You may love {{resultrec}}!</p>

	<p style="margin:0"> The most popular items are:</p>
		{% for item in popular%}
		<p> {{item}}</p>
		{%endfor%}
</form>

<h2>Contact Info</h2>
<p>{{ session['userInfo']['properties']['sponsors'] }}</p>



{% endblock %}
{% block footer %}
    <script type="text/javascript">
        $(function () {
            $(document).on('keyup', '#search', function(e) {
                var search = document.getElementById('search').value;
                if (search.length == 0)
                    return;
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: '/productAJAX',
                    type: 'POST',
                    data: JSON.stringify({'search': search}),
                    success: function(args) {
                        $('#search').autocomplete({
                            source: args
                        })}
                    })
                });
            });
    </script>
{% endblock %}
