
{% extends "driver/driverBase.html" %}
{% block driverContent %}
{% set limits = [1,5, 10,50] %}
<div class = "header-banner">{{head}} </div>

<h1>Product Catalog</h1>

<div class="row">
	<p style="margin:0">Enter your search below. You can search from among {{numprod}} products.</p>

</div>

<form action="/productsearch" method="POST">
  <div class="row">
  <!-- Button for filtering items -->
  <!--  <a href='javascript:showCompose();' style="font-size:25px;vertical-align: middle;"><span class="fa fa-filter" aria-hidden="true" style="font-size:25px;vertical-align: middle;"></span></a> -->

  <!--      <div id="hide" style="display: none;border:1px solid black;">-->
        <div class="row" style="vertical-align: middle;">
          <p>Number of Products: </p>
          <select style="height: 30%;" id = "amount" name="amount">
            {%for limit in limits%}
            <option value= "{{limit}}">{{limit}}</option>
            {%endfor%}
          </select>
	  <!--        </div>-->
        
        <div class="row" style="vertical-align: middle;">
          <p>Genre:</p>
          <select style="height: 30%;" id = "mylist" name="mylist">
            {%for genre in genres%}
            <option value= "{{genre}}">{{genre}}</option>
            {%endfor%}
          </select>
        </div>

        <div class="row" style="vertical-align: middle;">
          <p>Order:</p> 
          <select style="height: 30%;" id = "orderby" name="orderby">
            <option value= "pricedown">Ascending on Price</option>
            <option value= "priceup">Descending on Price</option>
            <option value= "ratingdown">Ascending on Rating</option>
            <option value= "ratingup">Descending on Rating</option>
          </select>
        </div>
      </div>

      <input type="text" placeholder="Search for products" id="search" name="search" class="tftextinput" required>
      <button id="signupbutton" type="submit" class="tfbutton">Search</button>
  </div>
</form>

{% if resultrec %}
  <p style="margin:0">You may love {{resultrec}}!</p>
{% endif %}

{% if popular %}
  <p style="margin:0"> The most popular items are:</p>
  {% for item in popular%}
  <p>{{item}}</p>
  {%endfor%}
{% endif %}

{% endblock %}
{% block footer %}
    <script type="text/javascript">
        $(function () {
            $(document).on('keyup', '#search', function(e) {
                var search = document.getElementById('search').value;
                if (search.length == 0)
                    return;
                $.ajax({
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    url: '/productAJAX',
                    type: 'POST',
                    data: JSON.stringify({'search': search}),
                    success: function(args) {
                        $('#search').autocomplete({
                            source: args
                        })}
                    })
                });
            });
    </script>
{% endblock %}
