{% extends "driver/driverBase.html" %}
{% block driverContent %}
<h1>Settings</h1>
<h3>Update Password</h3>
<button onclick="showChangePass()" id="button" name="showPass">Change Password</button>
<form action="/settings" style="visibility:hidden;" name="passForm", id="passForm" method="POST">
    <div class="row">
        <input type="password" placeholder="Old Password" id="oldpassword" class="tftextinput" name="old_pass" size="10" maxlength="20" required>
    </div>
    <div class="row">
        <input type="password" placeholder="New Password" id="password" class="tftextinput" name="pass" size="10" maxlength="20" onkeyup="checkPassComplexity()" required>
       <span id="password-message"></span>
   </div>
   
   <div class="row">
       <input type="password" placeholder="Confirm Password" id="confirm" class="tftextinput" name="pass_repeat" size="10" maxlength="20" onkeyup="checkPass()" required>
       <span id="confirm-message" class="confirm-message"></span>
   </div>

   <div class="row">
       <button id="signupbutton" type="submit" class="tfbutton" disabled=true style="width:100px;height:50px;">Change Password</button>
   </div>
</form>
<h3>Change Language</h3>
<div id="google_translate_element"></div>
{% endblock %}