{% extends "landing/landingTemplate.html" %}
{% block landingContent %}
<div class="row">
    <h1>Sign Up</h1>
</div>

<div class="row">
    <p style="margin:0">Fill out the form below.</p>
</div>

<form action="{{ url_for('signup') }}" method="POST">
    <div class="row">
        <input type="text" placeholder="First Name" id="textbox" class="tftextinput" name="fname" size="10" maxlength="100" required>
        <input type="text" placeholder="Middle Name" id="textbox" class="tftextinput" name="mname" size="10" maxlength="100" required>
        <input type="text" placeholder="Last Name" id="textbox" class="tftextinput" name="lname" size="10" maxlength="100" required>
    </div>

    <div class="row">
        <input type="text" placeholder="Address" id="textbox" class="tftextinput" name="address" size="10" maxlength="100" required>
        <input type="text" placeholder="Phone Number" id="textbox" class="tftextinput" name="phone" size="10" maxlength="100" required>
    </div>

   <div class="row">
       <input type="text" placeholder="Username" id="textbox" class="tftextinput" name="user" size="10" maxlength="100" required>
   </div>
   
   <div class="row">
       <input type="password" placeholder="Password" id="password" class="tftextinput" name="pass" size="10" maxlength="100" onkeyup="checkPassComplexity()" required>
       <span id="password-message"></span>
   </div>
   
   <div class="row">
       <input type="password" placeholder="Confirm Password" id="confirm" class="tftextinput" name="pass_repeat" size="10" maxlength="100" onkeyup="checkPass()" required>
       <span id="confirm-message" class="confirm-message"></span>
   </div>

   <div class="row">
       <button id="signupbutton" type="submit" class="tfbutton" disabled=true>Sign Up</button>
   </div>
</form>
</div>
<script type="text/javascript" src="{{url_for('static', filename='js/signup.js')}}"></script>
{% endblock %}