{% extends "admin/adminBase.html" %}
{% block adminContent %}
{% block header %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Year', 'Sales', 'Expenses'],
      ['2004',  1000,      400],
      ['2005',  1170,      460],
      ['2006',  660,       1120],
      ['2007',  1030,      540]
    ]);

    var options = {
      title: 'Company Performance',
      curveType: 'function',
      legend: { position: 'bottom' }
    };

    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
    chart.draw(data, options);
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart3'));
    chart.draw(data, options);
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart4'));
    chart.draw(data, options);
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart5'));
    chart.draw(data, options);
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart6'));
    chart.draw(data, options);
  }
</script>
{% endblock %}

<div class = "header-banner">{{head}} </div>
<h1>Application Statistics</h1>
<div class="row">
    <div class="one-half">
        <h2>Sponsor 1</h2>
        <div id="curve_chart" style="width: 700px; height: 500px"></div>
    </div>
    <div class="one-half">
        <h2>Sponsor 2</h2>
        <div id="curve_chart2" style="width: 700px; height: 500px"></div>
    </div>
</div>
<div class="row">
    <div class="one-half">
        <h2>Sponsor 3</h2>
        <div id="curve_chart3" style="width: 700px; height: 500px"></div>
    </div>
    <div class="one-half">
        <h2>Sponsor 4</h2>
        <div id="curve_chart4" style="width: 700px; height: 500px"></div>
    </div>
</div>
<div class="row">
    <div class="one-half">
        <h2>Sponsor 5</h2>
        <div id="curve_chart5" style="width: 700px; height: 500px"></div>
    </div>
    <div class="one-half">
        <h2>Sponsor 6</h2>
        <div id="curve_chart6" style="width: 700px; height: 500px"></div>
    </div>
</div>

{% endblock %}