<!DOCTYPE html>

<html lang="en">
<head>
{% if title %}
<title>{{ title }} - Team 15 Project</title>
{% else %}
<title>Team 15 Project</title>
{% endif %}
<!--<link rel="icon" href="img/favicon (2).ico">-->

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="static/css/grid_6.css">
<link rel="stylesheet" type="text/css" href="static/css/main.css">

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
{% block header %}
{% endblock %}
</head>

<body>
{% block content %}

{% endblock %}

<!-- JavaScript -->
<script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
<script>

</script>
</body>
</html>
