{% extends "base.html" %}
{% block content %}
	<!--Content Start-->
	<article>
			
			<!-- Desktop Version -->
			<div>
                <div class="center">
                    <div class="row">
                        <h1 style="margin:0">Sign Up</h1>
                    </div>

                    <div class="row">
                        <p style="margin:0">Sign Up Below.</p>
                    </div>

                    <div class="row">
                        <input type="text" placeholder="Username" id="textbox" class="tftextinput" name="user" size="10" maxlength="100" required>
                    </div>
                    
                    <div class="row">
                        <input type="password" placeholder="Password" id="textbox" class="tftextinput" name="pass" size="10" maxlength="100" required>
                    </div>
                    
                    <div class="row">
                        <input type="password" placeholder="Confirm Password" id="textbox" class="tftextinput" name="pass" size="10" maxlength="100" required>
                    </div>

                    <div class="row">
                        <button onclick="signUp()" id="signupbutton" type="submit" class="tfbutton">Sign Up</button>
                    </div>
                </div>
			</div>
			
			<!-- Mobile Version -->
			<div class="hide-desktop">

			</div>
			
		</div>		
	</article>

{% endblock %}
