{% extends "base.html" %}
{% block content %}
	<!--Header Start-->
	<header>
        <div id="top-navbar">

            <a href="#home" style="font-size: 50px;">
                <span>Reward App Logo</span>
                <!--<img src="{{url_for('static', filename='img/tempLogo.png')}}" style="width:50px; text-align:left; position:absolute;float:left;">-->
            </a>

            <div id="top-navbar-right">
                <a>
                    <img src="{{url_for('static', filename='img/userpic.png')}}" style="width:50px;padding-top:10px;">
                </a>

                <a style="padding-left:0;">
                    <span>{{ user.capitalize() }}</span>
                </a>
            </div>
            
        </div>
    </header>

    <article>
        <div class="container">
                <!--Side Nav Bar Start-->

                <div class="one-fifth">
                    <ul class="side-navbar">
                        <li><a href="{{ url_for('home') }}">Log In</a></li>
                        <li><a class="active" href="{{ url_for('signup') }}">Sign Up</a></li>
                        <li><a href="">About</a></li>
                        <li>
                            <a href="">
                                <img src="{{url_for('static', filename='img/settings.png')}}" style="width:30px;vertical-align:middle;padding-right: 5px;">
                                <span style="line-height:30px;">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <!--Content Start-->
                <div class="row">

                        <div class="one-sixth"></div>
                        <div class="five-sixths">
                                <div class="row">
                                    <h1 style="margin:0">Sign Up</h1>
                                </div>
            
                                <div class="row">
                                    <p style="margin:0">Fill out the form below.</p>
                                </div>
            
                                <form action="{{ url_for('signup') }}" method="POST">
                                   <div class="row">
                                       <input type="text" placeholder="Username" id="textbox" class="tftextinput" name="user" size="10" maxlength="100" required>
                                   </div>
                                   
                                   <div class="row">
                                       <input type="password" placeholder="Password" id="password" class="tftextinput" name="pass" size="10" maxlength="100" onkeyup="checkPassComplexity()" required>
                                       <span id="password-message"></span>
                                   </div>
                                   
                                   <div class="row">
                                       <input type="password" placeholder="Confirm Password" id="confirm" class="tftextinput" name="pass_repeat" size="10" maxlength="100" onkeyup="checkPass()" required>
                                       <span id="confirm-message" class="confirm-message"></span>
                                   </div>
            
                                   <div class="row">
                                       <button id="signupbutton" type="submit" class="tfbutton" disabled=true>Sign Up</button>
                                   </div>
                                </form>
                            </div>
                        </div>
                    
                </div>		
        </div>
    </article>
{% endblock %}