{% extends "sponsor/sponsorBase.html" %}
{% block sponsorContent %}
<h1>View Drivers</h1>
<div class="driver-table">
    <form id="view-drivers">
        <table style="border-spacing:5px;">
            <tr>
                <th class="heading">Drivers</th>
                <th>Remove</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Suspend</th>
                <th>Points</th>
                <th>Add Points</th>
                <th>Send Message</th>
                <th>Date Joined</th>
            </tr>
            {% for driver in drivers %}
                <tr>
                    <td><button name="{{ driver[3] }}" id='edit'><a href="{{ url_for('updateDriver', username=driver[3]) }}">Edit</a></button></td>
                    <td><button name=" {{ driver[3] }} " id='remove' style='color:red;'>X</button></td>
                    <td> {{ driver[3] }} </td>
                    <td> {{ driver[0] }} </td>
                    <td> {{ driver[2] }} </td>
                    {% if driver[3] in suspendedUsers %}
                    <td><button name="{{ driver[3] }}" id='unsuspend' style='color:red;'>X</button></td>
                    {% else %}
                    <td><button name="{{ driver[3] }}" id='suspend'>X</button></td>
                    {% endif %}
                    <td> {{ driver[6] }} </td>
                    <td><input name="{{ driver[3] }}" id='addpoints{{ driver[3] }}' placeholder='Add Pts'><button name='{{ driver[3] }}' id='addpoints'>+</button></td>
                    <td><input name="{{ driver[3] }}" id='sendmessage{{ driver[3] }}' placeholder='Message'><button name='{{ driver[3] }}' id='sendmessage'>Send</button></td>
                    <td> {{ driver[9] }} </td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
