{% extends "sponsor/sponsorBase.html" %}
{% block header %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<style>
    .card {
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
        padding: 10px;
    }
</style>
{% endblock %}
{% block sponsorContent %}
    {% set trunc = 40 %}
    {% if results %}
        <div id="results">
        {% for result in results %}
        {% if loop.index0 % 3 == 0 %}
        <div class="row">
        {% endif %}
            <div class="one-third">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ result['Images'] }}">
                    <div class="card-body">
                        <h5>{{ result['title'][0:trunc] }}</h5>
                        {% if result['description'] | length > trunc %}
                        <p class="card-text">{{ result['description'][0:trunc] + '...' }}</p>
                        {% else %}
                        <p class="card-text">{{ result['description'] }}</p>
                        {% endif %}
                        <a target="_blank" href="{{ result['url'] }}"><button type="buton" class="tfbutton">View</button></a>
                    </div>
                </div>
            </div> 
        {% if loop.index0 % 3 == 2 or loop.index == (results | length) - 1 %}
        </div>
        {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
