{% extends "sponsor/sponsorBase.html" %}
{% block sponsorContent %}
<h1>View Drivers</h1>
<div class="driver-table">
    <form id="view-drivers">
        <table style="border-spacing:5px;">
            <tr>
                <th class="heading">Drivers</th>
                <th>Remove</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Suspend</th>
                <th>Date Joined</th>
                <th>Send Message</th>
            </tr>

            {% for driver in drivers %}
                {% set user = driver[3] %}
                {% set first = driver[0] %}
                {% set last = driver[2] %}
                {% set datejoined = driver[4] %}
                <tr>
                    <td><button name="{{ user }}" id='edit'><a href="{{ url_for('updateDriver', username=user) }}">Edit</a></button></td>
                    <td><button name=" {{ user }} " id='remove' style='color:red;'>X</button></td>
                    <td> {{ user }} </td>
                    <td> {{ first  }} </td>
                    <td> {{ last }} </td>
                    {% if user in suspendedUsers %}
                    <td><button name="{{ user }}" id='unsuspend' style='color:red;'>X</button></td>
                    {% else %}
                    <td><button name="{{ user }}" id='suspend'>X</button></td>
                    {% endif %}
                    <td> {{ datejoined }} </td>
                    <td><input name="{{ user }}" id='sendmessage{{ user }}' placeholder='Message'><button name='{{ user }}' id='sendmessage'>Send</button></td>
                </tr>
            {% endfor %}
        </table>
    </form>
</div>
{% endblock %}
